.navbar {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2rem;
}
.navbar-brand {
    font-size: 2rem;
}

body {
    background-color: #f5f6fa;
}

h1 {
    font-weight: 700;
}

.accordion-button {
    font-weight: 600;
}

.card, .accordion-item {
    border-radius: 10px;
}

/* =========================
   PAGE COMPETENCE
========================= */

.competence-box {
    background-color: white;
    border-radius: 10px;
    border-left: 4px solid #212529;
    transition: 0.2s;
}

.competence-box h3 {
    margin-bottom: 10px;
    font-weight: 700;
    color: #212529;
}

.competence-box p {
    color: #6c757d;
    margin-bottom: 10px;
}

/* 🔥 effet quand on passe la souris */
.competence-box:hover {
    background-color: #212529;
    color: white;
    transform: translateY(-4px);
}

/* texte devient blanc au hover */
.competence-box:hover h3,
.competence-box:hover p,
.competence-box:hover small {
    color: white;
}

h2 {
    font-weight: 700;
    color: #333;
}

.btn-finish {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #333;
    font-size: 0.85rem;
    padding: 6px 14px;
    border-radius: 6px;
    transition: all 0.2s ease;
}

/* hover propre */
.btn-finish:hover {
    background-color: #212529;
    border-color: #999;
    color: white;
}

.footer-custom {
    font-size: 0.75rem;
    opacity: 0.7;
}

.markdown-content img {
    max-width: 100%;
    border-radius: 8px;
    margin: 15px 0;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
    margin-top: 25px;
}

.markdown-content table {
    width: 100%;
    margin: 15px 0;
    border-collapse: collapse;
}

.markdown-content table,
.markdown-content th,
.markdown-content td {
    border: 1px solid #ccc;
}

.markdown-content th,
.markdown-content td {
    padding: 8px;
}

.markdown-content h1 {
    font-size: 1.6rem;
    margin-top: 20px;
}

.markdown-content h2 {
    font-size: 1.3rem;
    margin-top: 18px;
}

.markdown-content h3 {
    font-size: 1.1rem;
    margin-top: 15px;
}

.markdown-content p {
    text-align: justify;
    line-height: 1.6;
}

.markdown-content {
    font-size: 1rem;
    max-width: 900px;
    margin: auto;
}

.markdown-content {
    max-width: 850px;
    margin: auto;
}

.markdown-content {
    font-size: 1rem;
    line-height: 1.7;
}

@media (max-width: 768px) {
    .markdown-content {
        max-width: 100%;
        padding: 0 10px;
    }
}