<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Portfolio GEII</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Bhea GEII</a>

        <div class="navbar-nav">
            <a class="nav-link" href="/">Accueil</a>
            <a class="nav-link" href="/projects">Projets</a>
            <a class="nav-link" href="/skills">Compétences</a>
            <a class="nav-link" href="/contact">Contact</a>
        </div>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

</body>
</html>