{% extends "base.html" %}

{% block content %}

<h2>Mes projets</h2>

<div class="row">
    {% for p in projects %}
    <div class="col-md-4">
        <div class="card mt-3">
            <div class="card-body">
                <h5>{{ p.title }}</h5>
                <p>{{ p.desc }}</p>

                <ul>
                    {% for t in p.tech %}
                        <li>{{ t }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}